# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
**/*.tsbuildinfo
**/tsconfig.tsbuildinfo
**/android
**/ios
**/next-env.d.ts

.nx/self-healing
.nx/polygraph
